/* 上部固定のバナー */
.notice-banner {

  margin: auto;
  padding: 0.5rem;

  background-color: #f28cb2; 
  color: white;
  text-align: center;
  font-size: 14px;
  top: 0;
  max-width: 500px;
}

/* 内容は変更される可能性があります */
.sub-note {
  font-size: 12px;
  color: white;
  text-align: center;
  margin-top: 4px;
}


